.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 999;

  svg {
    width: 25rem;
    fill: $colour-main;

    @mixin breakpoint phone {
      width: 20rem;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}